body {
    font-family: sans-serif;
    background-color: beige;
    font-size: 23px;
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(189, 105, 57);
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 275px;
    height: auto;
}