body {
    font-family: sans-serif;
    background-color: beige;
}

h1 {
    text-align: center;
}

h2 {
    background-color: brown;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 275px;
    height: auto;
}